{% extends "base.html.twig" %}

{% block title %}ChezBibi Création d'une recette
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1 class="mt-4">Création d'une recette</h1>

		{{ form(form)}}

		</div>
	{% endblock %}
